{% extends 'base.html' %}

{% block title %}Clients{% endblock title %}

{% block content %}
{% if object_list.count > 0 %}
<div class="d-flex flex-row"><a class="btn btn-info" type="button" href="{% url 'ownedcar_new' %}">Add client owned cars</a><a type="button" class="btn btn-info ml-5" href="{% url 'comment_new' %}">Add a new comment</a></div>
<p>Note : Below is the list of clients you have added.</p>
{% else %}
<p> You have not added any clients yet.</p>
{% endif %}
  {% for client in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ client.name }}</span>
        <span class="font-weight-bold">cell: {{ client.cell_phone }} | </span>
        <span class="font-weight-bold">acct: {{ client.acct_number }} | </span>

        <span class="font-muted">addr: {{ client.address }} | </span>
        <span class="font-muted-">city: {{ client.city }} | </span>
        <span class="font-muted">st: {{ client.state }} | </span>
        <span class="font-muted">zip: {{ client.zipcode }} | </span>
        <span class="font-muted">email: {{ client.email }} | </span>
      </div>
      <div class="card-body">
        <p>{{ client.notes }}</p> <a href="{% url 'client_edit' client.pk %}">Edit</a> | <a href="{% url 'client_delete' client.pk %}">Delete</a>
      </div>
      {% for comment in client.comments.all %}
      <div class="card-footer">
          <p>Comment :
            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
            {{ comment }}
          </p>
      </div>
      {% endfor %}
      {% for ownedcar in client.owned_cars.all %}
      <div class="card-footer">

          <p>Owned Car:
            <span class="font-weight-bold">{{ ownedcar.author }} &middot;</span> Purchased a {{ownedcar.manufacturer}} {{ ownedcar.car_model }}
            <span> <a href="{% url 'ownedcar_edit' ownedcar.pk %}">Edit</a> | <a href="{% url 'ownedcar_delete' ownedcar.pk%}">Delete</a></span></br>
          </p>
      </div>
      {% endfor %}
    </div>
    <br />
  {% endfor %}
{% endblock content %}
